<div class="form-group">
  <%= label_tag :q_store_id_eq, Spree.t(:store) %>
  <%= f.select :store_id_eq, Spree::Store.all.collect {|s| [s.name, s.id ] }, {:include_blank => true}, :class => 'select2' %>
</div>
