<td class="text-center">
  <span class="with-tip badge <%= 'badge-zero' if product.stores.count == 0 %>" data-placement="top" title="<%= product.stores.map(&:code).join(', ') %>">
    <%= product.stores.count %>
  </span>
</td>
