<div data-hook="admin_product_form_stores" class="form-group">
  <h4><%= Spree.t(:stores) %></h4>

  <% Spree::Store.all.each do |store| %>
    <div class="checkbox">
      <%= f.label "store_ids_#{store.id}" do %>
        <%= check_box_tag "product[store_ids][]", store.id, @product.stores.include?(store), id: "product_store_ids_#{store.id}" %>
        <%= store.name %>
      <% end %>
    </div>
  <% end %>
</div>
